<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خانه</title>
</head>
<body>
    <center>
        <article>
            {% for i in object_list %}
                <h1>{{i.title}}</h1>
                <p>{{i.content}}</p>
                <hr>
                <span>{{i.author}}</span> -/|\- <span>{{i.published}}</span> 
            {% empty %}
            <p>هیچ مقاله ای برای نمایش وجود ندارد</p>
            {% endfor %}
        </article>
    </center>
</body>
</html>